<footer id="footer" class="container">
    {{ if .Site.Social }}
        {{ partial "social.html" . }}
    {{ end }}

    {{ if ne .Site.Params.showPowerBy false }}
    <div class="powerby">
        <small>{{ i18n "poweredBy" | markdownify }}</small>
    </div>
    {{ end }}
</footer>

{{ range .Site.Params.customJS }}
    {{ if ( or ( hasPrefix . "http://" ) ( hasPrefix . "https://" ) ) }}
        <!-- remote js -->
        <script src="{{ . }}"></script>
    {{ else }}
        <!-- local js -->
        <script src="{{ $.Site.BaseURL }}{{ . }}"></script>
    {{ end }}
{{ end }}
